/* ......... blog ......... */

/* Общие стили для секции и обёртки блога */


.blog-wrapp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 902px;
}

.blog-wrapp-item{
    width: 49%;
    border-radius: 40px;
}

.blog-wrapp-item.left-item .thumbnail {
    max-width: 640px;
    object-fit: cover;
    width: 100%;
    height: 670px;
}

.blog-wrapp-item.left-item a .title {
    margin-top: 24px;
    width: 75%;
}

.blog-wrapp-item.left-item .description {
    margin-top: 8px;
    width: 75%;
}

.blog-wrapp-item.left-item .publish-date {
    margin-top: 32px;
}


 .blog-wrapp-item.right-item {
    width: 49%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.blog-wrapp-item.right-item .blog-item-title {
    width: 100%;
}
.blog-wrapp-item.right-item .blog-item-title h3 {
    margin-bottom: 32px;
}
.blog-news-wrapp {
    margin-top: 203px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.blog-news-wrapp a{
    width: 49%;

}
.blog-news-item {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.blog-news-item .title {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 1);
}
.blog-news-item .thumbnail {
    width: 310px;
    height: 310px;
    display: flex;
    object-fit: cover;
}
.blog-news-item .publish-date {
    color: rgba(0, 0, 0, 1);
}
.blog-wrapp-item.left-item .thumbnail img{
    width: 100%;
    display: flex;
    border-radius: 40px;
    height: 100%;
}
.blog-news-item .thumbnail img {
    width: 100%;
    display: flex;
    border-radius: 40px;
    height: 100%;
}
.blog-wrapp-item.left-item a {
    width: 100%;
}
/* .blog-news-wrapp.tablet {
    display: none;
} */
.blog-item-title.tablet {
    display: none;
}
.blog-item-title.mob {
    display: none;
}
.btn_learn_more.blog-mob {
    display: none;
}
.blog-news-wrapp.desktop > a:nth-child(3) {
    display: none;
}
@media(max-width:1400px){
    .blog-wrapp-item.left-item a .title {
        width: 90%;
    }
    .blog-news-item .thumbnail {
        width: 100%;
    }
    .blog-news-item .thumbnail {
        width: 100%;
    }
    
}

@media(max-width:1280px){
    .blog-news-wrapp {
        margin-top: 235px;
    }
    .blog-news-item .thumbnail {
        height: 280px;
    }

}
@media(max-width:1080px){
    .blog-news-wrapp {
        margin-top: 217px;
    }
    .blog-wrapp {
        height:auto;
    }
}
@media(max-width:1024px){
    .blog-wrapp {
        height: 752px;
    }
    .blog-wrapp-item.left-item .thumbnail{
        height:520px;
    }
    .blog-wrapp-item.left-item a .title {
        width: 100%;
    }
    .blog-wrapp-item.left-item .description {
        width: 100%;
    }
    .blog-wrapp-item.right-item .blog-item-title h3 {
        margin-bottom: 48px;
    }
    .blog-wrapp-item.left-item .thumbnail img {
        height: 100%;
    }
    .blog-news-wrapp {
        margin-top: 121px;
    }
    .blog-news-item .thumbnail {
        height: 221px;
    }
    .blog-news-item .thumbnail img {
        height: 100%;
    }
    .blog-news-item .title > h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
}

@media(max-width:1010px){
    .blog-news-wrapp {
        margin-top: 147px;
      }
}

@media(max-width:980px){
    .blog-wrapp {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        height: auto;
    }
    .blog-news-wrapp {
        margin-top: 30px;
    }
    .blog-news-wrapp.desktop > a:nth-child(3) {
        display: block;
    }
    .blog-wrapp-item.right-item {
        width: 100%;
    }
    /* .blog-news-wrapp.tablet {
        margin-top: 30px;
        display: flex;
    } */
    .blog-item-title.desktop {
        display: none;
    }
    .blog-item-title.tablet {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .blog-wrapp-item {
        width: 100%;
    }
    .blog-wrapp-item.left-item > a {
        display: flex;
        justify-content: space-between;
    }
    /* .blog-wrapp-item-content-tablet {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
    } */
    .blog-wrapp-item-content-tablet {
        position: relative;
    }
    .blog-wrapp-item.left-item .publish-date {
        position: absolute;
        bottom: 0;
    }
    .blog-wrapp-item.left-item a .title {
        margin-top: 0;
        width: 90%;
    }
    .blog-wrapp-item.left-item .thumbnail {
        max-width: 49%;
    }
    .blog-wrapp-item-content-tablet {
        max-width: 49%;
    }
    .blog-wrapp-item.left-item .publish-date {
        font-size: 16px;
    }
    .blog-news-wrapp a {
        width: 31%;
    }
}
@media(max-width:880px){
    .blog-wrapp-item.left-item .thumbnail {
        height: 361px;
    }
    .blog-wrapp-item.left-item .thumbnail img {
        border-radius: 16px;
    }
    .blog-news-item .thumbnail img {
        border-radius: 16px;
    }
    .blog-wrapp-item.left-item a .title {
        width: 100%;
    }
}
@media(max-width:720px){
    .blog-news-wrapp a {
        width: 32%;
    }
}
@media(max-width:680px){
    .blog-news-wrapp.desktop > a:nth-child(3) {
        display: none;
    }
    .blog-news-wrapp a {
        width: 48%;
    }
}

@media(max-width:620px){
    .blog-wrapp-item-content-tablet > div.title > h4 {
        font-size: 24px;
        line-height: 32.02px;
    }
    .blog-wrapp-item.left-item .description.h6 {
        font-size: 12px;
        line-height: 15.6px;
    }
    .blog-wrapp-item.left-item .publish-date {
        font-size: 12px;
    }
    .blog-news-item .title > h4 {
        font-size: 12px;
    }
    .blog-news-wrapp {
        margin-top: 16px;
    }
    .blog-wrapp-item.left-item > a {
        height: 220px;
    }
}

@media(max-width:580px){
    .blog-item-title.desktop {
        display:flex;
    }
    .blog-item-title.tablet {
        display: none;
    }
    .blog-news-wrapp.tablet {
        display: none;
    }
    .blog-news-wrapp.desktop {
        display:flex;
    }
    .blog-wrapp-item.right-item .blog-item-title{
        display: none;
    }
    .blog-item-title.mob {
        display: flex;
    }
    .blog-news-wrapp.desktop {
        margin-top: 15px;
    }
    .btn_learn_more.blog-mob {
        display: flex;
    }
    .blog-news-wrapp a {
        width: 49%;
    }
    .blog-item-title.mob {
        margin-bottom: 24px;
    }
    .blog-wrapp-item.left-item > a {
        height: 220px;
    }
    .blog-wrapp-item.left-item .thumbnail {
        height: 100%;
    }
    .blog-news-item {
        height: auto;
    }
    .blog-news-item .thumbnail {
        height: 200px;
    }
    .btn_learn_more.blog-mob {
        display: flex;
        margin-top: 16px;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        border-radius: 16px;
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
    }
    .btn_learn_more.blog-mob:after{
        display: none;
    }
 
}

@media(max-width:420px){
    .blog-wrapp-item-content-tablet > div.title > h4 {
        font-size: 18px;
        line-height:20px;
    }
}

