@import url('./layouts/header.css');
@import url('./layouts/footer.css');
@import url('./layouts/btn.css');
@import url('./layouts/color.css');
body,
span,
p,
a,
ul,
li,
button {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

body {
  background-color:#FFFFFF;
}

/* ............. font-family ............ */


.h1 {
  font-family: "Manrope", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 84.02px;
  letter-spacing: 0.01em;
  text-align: left;
}

.h2 {
  font-family: "Manrope", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.01em;
  text-align: left;
}

.h3 {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.02px;
  letter-spacing: 0.01em;
  text-align: left;
}


.h4 {
  font-family: "Manrope", sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 41.99px;
  letter-spacing: 0.01em;
  text-align: left;
}

.h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.02px;
  letter-spacing: 0.02em;
  text-align: left;
}

.h6 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}

.subtitle1 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  text-align: left;
}

.subtitle2 {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.01em;
  text-align: left;
}

.body1 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.body2 {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.04em;
  text-align: left;
}

.caption {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.04em;
  text-align: left;
}


.overline {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.4px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media(max-width:1080px){
  .caption {
    font-size: 6px;
    line-height: 8px;
  }
  .h3 {
   font-size: 34px;
   line-height: 41.99px;
  }
}

@media(max-width:640px){
  .h6 {
    font-size: 20px;
    line-height: 30px;
  }
  .h3 {
    font-size: 24px;
    line-height: 32.02px;
  }
  .caption {
    font-size: 12px;
    line-height: 15.6px;
  }
  .body2 {
    font-size: 14px;
    line-height: 19.6px;
  }
  
}

@media(max-width:420px){
  .h6 {
    font-size: 12px;
    line-height: 15.6px;
  }
}

/* ....... block elements ......*/

section {
  max-width: 1440px;
  width: 100%;
    padding-left: 70px; 
    padding-right: 70px; 
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 96px;
}
.section-marquee {
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.header-section {
  margin-bottom: 40px;
}
.container {
  width: 100%;
}


@media(max-width:1200px) {
  section {
    padding: 0 24px;
  }
}

@media(max-width:1120px){
  .header-section {
    margin-bottom: 15px;
 }
  
}
@media(max-width:1080px){
  body {
    background: rgb(242 242 242);
  }
  .header-section {
    margin-bottom: 15px;
    background: #ffffff;
    margin-bottom: 0;
    padding-bottom: 12px;
 }
 section {
  margin-bottom: 64px;
 }
}

@media(max-width:1024px){
  .header-section {
    margin-bottom: 10px;
}
}
@media(max-width:768px){
  .header-section {
    margin-bottom: 12px;
}
}

@media(max-width:520px) {
  section {
    padding: 0 16px;
  }
}
@media(max-width:360px){
    section {
        padding: 0 10px;
    }
}



