.top-content-item-img.mob {
    display: none;
}
.home-page-top-content {
    position: relative;
    width: 100%;
    height: 770px;
    border-bottom: 1px solid rgba(191, 187, 168, 0.4);
    border-radius: 32px;
    background: #ffffff;
}
.home-page-top-content {
    margin-top: 35px;
}
.top-content-item-wrapp {
    position: relative;
    display: flex;
}
.top-content-item-wrapp  p {
    position: absolute;
    padding:16px 24px;
    bottom: 12px;
    left: 12px;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    border: 1px solid #ACA99D;
}
.top-content-block2 > div > p {
    left: auto;
    right: 12px;
}
.top-content-block1 > div > p {
    background: rgba(130,156, 152, 1);
}
.top-content-block3 > div > p {
    background: rgba(241,241, 237, 1);
}
.top-content-block5 > div > p {
    background: #e5e2de;
}
.top-content-block6 > div > p {
    background: #ffffff;
    right: 12px;
    left: auto;
}
.top-content-block1 {
    position: absolute;
    left: 0;
    top: 49px;
    max-width: 290px;
    width: 100%;
    height: 190px;
}
.top-content-block2 {
    position:absolute;
    margin: 0;
    top: 0%;
    left: 32%;
    max-width: 250px;
    width: 100%;
    height: 150px;
}
.top-content-block3 {
    position: absolute;
    max-width: 210px;
    width: 100%;
    height: 191px;
    top: 4%;
    right: 10%;
}
.top-content-block4 {
    position: absolute;
    max-width: 247px;
    width: 100%;
    height: 219px;
    bottom: 17%;
    left: 9%;
}
.top-content-block5 {
    position: absolute;
    max-width: 199px;
    width: 100%;
    height: 155px;
    bottom: 8%;
    right: 35%;
}
.top-content-block6 {
    position: absolute;
    max-width: 324px;
    width: 100%;
    height: 308px;
    right: 0;
    bottom: 15%;
}
.top-content-center {
    position: absolute;
    margin: 0;
    top: 40%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.top-content-center-item {
    width: 859px;
    display: flex;
    justify-content: space-between;
}
.top-content-center-item p {
    text-align: right;
}
.top-content-center-item img {
    position: absolute;
    margin: 0;
    top: 39%;
    left: 58%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 181px;
    height: 128px;
    object-fit: cover;
}
.top-content-center-item p:nth-child(1) {
    width: 418px;
    text-align: right;
}
.top-content-center-item p:nth-child(3) {
    width: 288px;
    text-align: left;
}
.top-content-center-btn {
    position:absolute;
    margin: 0;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
   
}
.top-content-center-btn a{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 1px solid rgba(255, 234, 123, 1);
}
@media(max-width:1080px){
    .top-content-item-img.desktop {
        display: none;
    }
    .top-content-item-img.mob {
        display: flex;
    }
    .top-content-block-wrapp {
        width: 100%;
        padding: 0;
    }
    .home-page-top-content {
        margin: 0;
        border-radius: 0 0 26px 26px;
        background: #f6f6f6;
        height: 500px;
        border-bottom: none;
    }
    .home-page-top-content::after {
        content: '';
        position: absolute;
        bottom: -9px;
        display: flex;
        width: 99%;
        height: 22px;
        background:url(/wp-content/themes/balace/img/icon/vector-bottom.png);
        background-repeat:no-repeat;
        background-size: 100% 100%;
        position:absolute;
        margin: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .top-content-center {
        max-width: 613px;
        width: 100%;
        top: 51%;
    }
    .top-content-center-item {
        max-width:100%;
        width: 100%;
    }
    .top-content-center-btn {
        top: 77%;
    }
    .top-content-center-item p:nth-child(1) {
        max-width: 290px;
        width: 100%;
        text-align: right;
    }
    .top-content-center-item p:nth-child(3) {
        max-width: 195px;
        width: 100%;

    }
    .top-content-item-wrapp p {
        padding: 8px 12px;
        border: 0.5px solid #ACA99D;
      }

    .top-content-item-wrapp img {
        display: flex;
        width: 100%;
        border-radius: 10px;
    }
    .top-content-block1 {
        max-width: 105px;
        height: 95px;
        left: 34px;
        top: 235px;
    }
    .top-content-block2 {
        max-width: 125px;
        height: 75px;
        left: 19%;
        top: 11%;
    }
    .top-content-block2 > div > p {
        background-color: rgba(172, 169, 157, 1);
        right: 6px;
        bottom: 6px;
    }
    .top-content-block3 {
        max-width: 105px;
        height: 95px;
        top: 9%;
        right: 32%;
    }
    .top-content-item-wrapp p {
        background-color: rgba(255, 255, 255, 0.2);
        left: 6px;
        bottom: 6px;
    }
    .top-content-block4 {
        max-width: 123px;
        height: 109px;
        left: auto;
        right: 0;
        right: 200px;
        bottom: 22px;
    }
    .top-content-block5 {
        max-width: 100px;
        height: 78px;
        right: 0;
        left: 18%;
    }
    .top-content-block6 {      
        max-width: 162px;
        height: 154px;
        right: 50px;
        bottom: 29%;
    }
}

@media(max-width:980px){
    .home-page-top-content {
        height: 598px;
    }
    .top-content-block1 {
        top: 101px;
        left: 24px;
    }
    .top-content-block2 {
        top: 40px;
        left: 150px;
    }
    .top-content-block3 {
        top: 50px;
        left: 45%;
    }
    .top-content-block5 {
        top: 150px;
        left: 228px;
    }
    .top-content-block4 {
        top: 154px;
        right: 26%;
    }
    .top-content-block6 {
        top: 44px;
        right: 24px;
        bottom: auto;
    }
    .top-content-center {
        top: 63%;
    }
    .top-content-center-btn {
        top: 85%;
    }
}

@media(max-width:768px){
    .top-content-center {
        top: 62%;
        left: 44%;
    }
    .top-content-center-btn {
        top: auto;
        bottom: 7%;
    }
    .top-content-block4 {
        top: 166px;
        right: 25%;
    }
    .top-content-block3 {
        top: 52px;
        left: 46%;
    }
    .top-content-block5 {
        top: 167px;
        left: 228px;
    }
}
@media(max-width:765px){
    .top-content-block4 {
        right: 27%;
    }
    .top-content-center {
        left: 45%;
    }
}

@media(max-width:710px){
    .home-page-top-content {
        height: 675px;
    }
    .top-content-block3 {
        top: 52px;
        left: 41%;
    }
    .top-content-block2 {
        left: auto;
        right: 24px;
    }
    .top-content-center {
        top: 43%;
        left: 50%;
    }
    .top-content-block4 {
        right: auto;
        left: 24px;
        top: 70%;
    }
    .top-content-center-btn {
        bottom: 30%;
        left: 57%;
    }
    .top-content-block5 {
        max-width: 122px;
        height: 95px;
        top: auto;
        bottom: 20%;
        left: auto;
        right: 24px;
    }
    .top-content-block6 {
        top: auto;
        right: 33%;
        bottom: 3%;
    }
    .top-content-block2 {
        left: auto;
        right: 24px;
        top: 18%;
    }
}
@media(max-width:640px){
    .top-content-center {
        left: 45%;
    }
}
@media(max-width:540px){
    .top-content-center-item p:nth-child(1) {
        max-width: 118px;
    }
    .top-content-center-item p:nth-child(3) {
        max-width: 126px;
    }
    .top-content-center {
        left: 55%;
    }
    .top-content-center {
        max-width: 70%;
        width: 100%;
    }
    .top-content-center-item img {
        top: 25%;
        left: 50%;
    }
    .top-content-center-btn {
        bottom: 30%;
        left: 50%;
    }
}
@media(max-width:480px){
    .top-content-center {
        max-width: 100%;
    }
    .top-content-center-item {
        max-width: 78%;
        width: 100%;
        margin: 0 auto;
    }
    .top-content-block6 {
        max-width: 128px;
        height: 122px;
        right: 23%;
        bottom: 2%;
    }
}
@media(max-width:420px){
    .top-content-block1 {
        top: 70px;
        left: 10px;
    }
    .top-content-block3 {
        top: 41px;
        left: 42%;
    }
  .top-content-block2 {
    max-width: 78px;
    height: 89px;
    right: 10px;
    top: 12%;

  }
   .top-content-block2 .top-content-item-wrapp {
        width: 100%;
        height: 100%;
    }
    .top-content-block2 .top-content-item-wrapp img {
        object-fit: cover;
    }
    .top-content-center {
        left: 50%;
        top: 42%;
    }
    .top-content-center-item {
        max-width: 88%;
    }
    .top-content-center-btn {
        bottom: 37%;
    }
   
    .top-content-block4 {
        left: 10px;
        top: 68%;
    }
    .top-content-block5 {
        left: auto;
        right: 10px;
    }
    .top-content-item-wrapp p {
        font-size: 10px;
        line-height: 13px;
        padding: 6px 8px;
    }
   
}
@media(max-width:350px){
    .top-content-block4 {
        left: 10px;
        top: 64%;
    }
    .top-content-block6 {
        right: 22%;
    bottom: 1%;
    }
    .top-content-block5 {
        bottom: 21%;
    }
    .top-content-block3 {
        top: 15px;
        left: 38%;
    }
}

/* ....... block brand ........ */


.product-brands-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 210px;
    margin-bottom: 96px;
}

.product-brands {
    position: relative;
    background-color: white;
    border-radius: 10px;
    max-width: 640px;
    width: 100%;
    height: 100%;
}
.product-brands-item {
    max-width:640px;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 20px;
}
.product-brands-item-img {
    max-width:112px;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 23px;
    padding-bottom: 50px;
}
.product-brands-item-btn {
    padding-top: 45px;
    max-width: 208px;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-end;
    padding-right: 28px;
}
.brands-item-btn-top {
    width: 100%;
    height: 48px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.brands-item-btn-bottom {
    padding-bottom: 45px;
}

@media(max-width:1450px){
    .product-brands-item {
        max-width: 49%;
        position: relative;
    }
}

@media(max-width:1024px){
    .product-brands-item-img {
        max-width: 88px;
        height: 100%;
        padding-left:16px;
        padding-bottom: 16px;
    }
    .product-brands-container {
        height: 248px;
    }
    .product-brands-item-btn {
        padding-right: 16px;
    }
    .brands-item-btn-bottom {
        padding-bottom: 0px;
      }
      .product-brands-item-btn {
        padding-top: 0px;
    }
    .brands-item-btn-top {
        padding-top: 16px;
    }
    .brands-item-btn-bottom {
        padding-bottom: 8px;
        padding-right: 14px;
      }
}
@media(max-width:768px){
    .product-brands-item-btn {
        position: absolute;
        max-width: 100%;
        padding: 0;
    }
    .brands-item-btn-top {
        width: 92%;
        margin: 0 auto;
        margin-top: 16px;
    }
}

@media(max-width:680px){
    .product-brands-container {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        height: 314px;
    }
    .product-brands-item {
        max-width: 100%;
        height: 152px;
    }
    .product-brands-item-btn {
        max-width: 75%;
        right: 0;
    }
    .brands-item-btn-top {
        width: 75%;
        margin: 12px 12px;
        padding: 0;
    }
}

@media(max-width:520px){
    .product-brands-item-img {
        max-width: 72px;
    }
    .product-brands-item-img {
        padding-top: 20px;
        padding-bottom: 0;
        justify-content: flex-start;
        padding-left: 12px;
    }
    .brands-item-btn-top {
        width: 187px;
    }
}



/* ........ promotional slider ...... */
.promotional-wrapp {
    height: auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(191, 187, 168, 0.4);
    border-bottom: 1px solid rgba(191, 187, 168, 0.4);
    border-radius: 32px;
}
.promotional-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 54px;

}

.promotional-item {
    height: 424px;
}

.promotional-item.left {
    max-width: 200px;
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
}

.promotional-item.right  {
    max-width: 970px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.swiper-container.promotional-swiper {
    overflow: hidden;
  }
.promotional-slider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 310px!important;
    height: 100%;
    border-radius:20px;
    background-color: #F5F3E8;
}
.promotional-slider-content  p {
    width: 68%;
    height: 60px;
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 38px;
  color: rgba(34, 29, 23, 1);
}
.promotional-slider-content span {
    margin-bottom: 8px;
    margin-left: 16px;
}
.promotional-slider-content img {
    display: flex;
    width: 294px;
    height: 250px;
    border-radius:20px;
    margin: 0 auto;
    object-fit: cover;
}

.promotional-slide> div > span.caption.text_main {
    margin-top: 8px;
    margin-bottom: 22px;
    margin-left: 16px;
}

.promotional-title {
    text-align: right;
}
.slider-btn-wrapp {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.promotional-button-next {
    margin-right: 12px;
}
.promotional-link {
    display: block;
    width: 100%;
    height: 100%;
}


@media (max-width: 1350px) {
    .promotional-item.left {
        max-width: 15%;
        width: 100%;
    }
    .promotional-item.right {
        max-width: 82%;
    }
    .swiper-slide.promotional-slide {
        width:310px!important;
    }
}

@media(max-width:1200px){
    .promotional-item.right {
        max-width: 75%;
    }
    .promotional-item.left {
        max-width: 20%;
    }
}

@media (max-width: 1024px) {
    .promotional-item.left {
        max-width: 23%;
    }
    .promotional-item.right {
        max-width: 70%;
    }
    
    
}

@media (max-width: 768px) {
    .promotional-content {
        padding-top: 30px;
        padding-bottom: 24px;
    }
    .swiper-slide.promotional-slide{
        height: 354px;
    }
    .promotional-item.left {
        height: 354px;
    }
}
@media(max-width:520px){
    .swiper-slide.promotional-slide {
        height: 340px;
    }
    .slider-btn-wrapp {
        display: none;
    }
    .promotional-content {
        flex-direction:column;
        padding-left: 16px;
    }
    .promotional-item.left {
        height: auto;
        max-width: 50%;
        padding-bottom: 24px;
    }
    .promotional-title {
        text-align: left;
    }
    .promotional-item.right {
        max-width: 100%;
    }
    .promotional-slider-content img {
        width: 246px;
        height: 174px;
    }
    .promotional-slider-content  {
        width: 262px !important;
    }
    .swiper-slide.promotional-slide {
        width: 262px !important;
    }
    .promotional-slider-content p {
        margin-bottom: 48px;
    }
    .promotional-slider-content span {
        margin-bottom: 32px;
    }
    .promotional-item.right {
        height: 340px;
    }
    .promotional-slider-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .promotional-item.left {
        max-width: 80%;
    }
    .promotional-slide > div > span.caption.text_main {
        display: none;
    }
    .woocommerce-Price-amount.amount {
        font-size: 12px;
        line-height: 14px;
    }
}

@media(max-width:420px){
    .woocommerce ul.products.product-main li.product {
        max-width: 164px;
    }
}


/* .......... advantages ..........*/
.advantages.mob-swiper {
    display: none;
}
.advantages{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    height: 848px;
    border-radius: 32px;
    border-top: 1px solid rgba(191, 187, 168, 0.4);
    border-bottom:1px solid rgba(191, 187, 168, 0.4);
}
.advantages-title {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 58px;
}
.advantages-content-block {
    position: relative;
    width: 100%;
    height: 100%;
    background:url('/wp-content/themes/balace/img/advantages-bg.png');
    background-repeat:no-repeat;
    background-size: 505px 543px;
    background-position:top center;
}
.advantages-content-item {
    max-width: 290px;
    width: 100%;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
} 
.advantages-content-item img {
    margin-bottom: 16px;
}
.advantages-content-item:nth-child(1) {
    top:0px
}
.advantages-content-item:nth-child(2) {
    bottom: 210px;
    left: 110px;
}
.advantages-content-item:nth-child(3) {
    right: 0;
    top: 55px;
    max-width: 308px;
    width: 100%;
}
.advantages-content-item:nth-child(4) {
    right: 50px;
    bottom: 115px;
    max-width: 371px;
    width: 100%;
}


@media(max-width:1400px){
    .advantages-title { 
        margin-top: 34px;
    }
    .advantages-content-item:nth-child(2) {
        bottom: 134px;
        left: 30px;
    }
    .advantages-content-item:nth-child(4) {
        right: 0px;
        bottom: 67px;
        max-width: 371px;
        width: 100%;
    }
}

@media(max-width:1380px){
    .advantages-content-block {
        background-size: 38% 50%;
    }
}

@media(max-width:1200px){
    .advantages-content-block {
        background-size: 280px 300px;
    }
}

@media(max-width:1000px){
    .advantages {
        display: none;
    }
    .advantages.mob-swiper {
        display: flex;
        height: 731px;
        justify-content: flex-end;
    }
    .advantages-content-block {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }
    .swiper-wrapper-advantages {
        display: flex;
        align-items: flex-end;
        height: 260px;
    }
    .advantages-content-item {
        position: initial;
        max-width: 45% !important;
       justify-content: flex-start;
       margin-right: 30px;
    }
  
}

@media(max-width:768px){
    .advantages-content-item {
        max-width: 60% !important;
        margin-bottom: 44px;
    }
}
@media(max-width:640px){
    .advantages-content-item {
        margin-right: 16px;
    }
    .advantages-content-item {
        position: initial;
        max-width: 245px!important;
        width: 100%!important;
    }
}

@media(max-width:420px){
    .advantages-content-item {
        position: initial;
        max-width: 255px !important;
        width: 100% !important;
    }
}

/* ............  about block ..........*/
.about-product-wrapp {
    width: 100%;
    background: rgba(34, 29, 23, 1);
    border-radius: 40px;
    height: 653px;
}
.about-product-content {
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.about-product-item {
    width: 49%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.about-product-item.img img {
    display: flex;
    width: 100%;
    border-radius: 28px;
    height: 100%;
}
.about-product-item.deskription.table {
    display: none;
}

.about-product-item.deskription a{
    margin-top: 24px;
    margin-bottom: 135px;
}
.about-product-deskription-title h3{
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.about-product-deskription-title p{
    color:rgba(255, 255, 255, 1);
}
.below_item_wrapp {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.below_item {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    width: 30%;
    color: rgba(255, 255, 255, 1);
}
.below_item img {
    margin-bottom: 16px;
}

@media(max-width:1440px){
    .about-product-wrapp {
        height: auto;
    }
}
@media(max-width:1420px){
    .about-product-item.deskription.desktop {
        display: none;
    }
    .about-product-item.deskription.table {
        display: flex;
    }

    .below_item {
        width: 31%;
    }
    .about-product-content {
        flex-direction: column;
    }
    .about-product-item {
        max-width: 100%;
        width: 100%;
    }
    .about-product-item.img img { 
        height: 473px;
        object-fit: cover;
    }
    .about-deskription-block {
        width: 96%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 40px;
    }
    .about-product-text {
        max-width: 520px;
        width: 100%;
    }
    .below_item_wrapp {
        width: 96%;
        margin: 0 auto;
    }
    .below_item {
        width: 25%;
    }
    .about-product-text p{
            color: rgba(255, 255, 255, 1);
       
    }
}

@media(max-width:1080px){
    .about-product-deskription-title {
        max-width: 263px;
        width: 100%;
    }
    .about-product-text {
        max-width: 402px;
    }
    .below_item img {
        width: 58px;
        height: 58px;
    }
    .about-product-item.deskription a {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media(max-width:840px){
    .about-product-item.deskription.table {
        display: none;
    }
    .about-product-item.deskription.desktop {
        display: flex;
        max-width: 90%;
        margin: 0 auto;
    }
    .about-product-deskription-title {
        margin-top: 40px;
        max-width: 90%;
        width: 100%;
    }
    .below_item_wrapp {
        width: 100%; 
    }
    .below_item {
        width: 30%;
    }
}
@media(max-width:768px){
    .about-product-item.img img {
        width: 100%;
        height: 408px;
    }
}
@media(max-width:640px){
    .below_item img {
        width: 40px;
        height: 40px;
    }
    .btn_learn_more {
        max-width: 164px;
        width: 100%;
    }
    .about-product-item.img img {
        width: 319px;
        height: 251px;
    }
    .about-product-wrapp {
        border-radius:16px;
    }
    .about-product-item.deskription.desktop {
        margin-bottom: 12px;
    }
    .about-product-content {
        padding: 12px;
    }
}

/* ......... blog ......... */

/* Общие стили для секции и обёртки блога */


.blog-wrapp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 902px;
}

.blog-wrapp-item{
    width: 49%;
    border-radius: 40px;
}

.blog-wrapp-item.left-item .thumbnail {
    max-width: 640px;
    object-fit: cover;
    width: 100%;
    height: 670px;
}

.blog-wrapp-item.left-item a .title {
    margin-top: 24px;
    width: 75%;
}

.blog-wrapp-item.left-item .description {
    margin-top: 8px;
    width: 75%;
}

.blog-wrapp-item.left-item .publish-date {
    margin-top: 32px;
}


 .blog-wrapp-item.right-item {
    width: 49%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.blog-wrapp-item.right-item .blog-item-title {
    width: 100%;
}
.blog-wrapp-item.right-item .blog-item-title h3 {
    margin-bottom: 32px;
}
.blog-news-wrapp {
    margin-top: 203px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.blog-news-wrapp a{
    width: 49%;

}
.blog-news-item {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.blog-news-item .title {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 1);
}
.blog-news-item .thumbnail {
    width: 310px;
    height: 310px;
    display: flex;
    object-fit: cover;
}
.blog-news-item .publish-date {
    color: rgba(0, 0, 0, 1);
}

/* ......... FAQ ........ */
.faq-item-content span {
    display: none;
}

.faq-wrapp {
    width: 100%;
    border-top: 1px solid rgba(191, 187, 168, 0.4);
    border-radius: 32px;
}
.faq-content {
    padding-top: 32px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.faq-item.left {
    max-width: 310px;
    height: 168px;
}
.faq-item.left h3 {
    text-align: right;
}
.faq-item.right {
    max-width: 860px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.faq-item-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius:92px;
    margin-bottom: 20px;
    cursor: pointer;
}
.faq-item-content:after {
    position: absolute;
    right: 24px;
    top: 24px;
        content:'';
        display:flex;
        max-width:52px;
        width:100%;
        height:52px;
        background:url('/wp-content/themes/balace/img/icon/plus.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
.faq-item-content.faq-item-active:after {
    transform: rotate(45deg);
}
.faq-item-content p {
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.faq-item-content span {
    padding-left: 35px;
    padding-bottom: 62px;
}

