.home-page-top-content {
    position: relative;
    width: 100%;
    height: 770px;
    border-bottom: 1px solid rgba(191, 187, 168, 0.4);
    border-radius: 32px;
    background: #ffffff;
}
.home-page-top-content {
    margin-top: 35px;
}
.top-content-item-wrapp {
    position: relative;
    display: flex;
}
.top-content-item-wrapp  p {
    position: absolute;
    padding:16px 24px;
    bottom: 12px;
    left: 12px;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    border: 1px solid #ACA99D;
}
.top-content-block2 > div > p {
    left: auto;
    right: 12px;
}
.top-content-block1 > div > p {
    background: rgba(130,156, 152, 1);
}
.top-content-block3 > div > p {
    background: rgba(241,241, 237, 1);
}
.top-content-block5 > div > p {
    background: #e5e2de;
}
.top-content-block6 > div > p {
    background: #ffffff;
    right: 12px;
    left: auto;
}
.top-content-block1 {
    position: absolute;
    left: 0;
    top: 49px;
    max-width: 290px;
    width: 100%;
    height: 190px;
}
.top-content-block2 {
    position:absolute;
    margin: 0;
    top: 0%;
    left: 32%;
    max-width: 250px;
    width: 100%;
    height: 150px;
}
.top-content-block3 {
    position: absolute;
    max-width: 210px;
    width: 100%;
    height: 191px;
    top: 4%;
    right: 10%;
}
.top-content-block4 {
    position: absolute;
    max-width: 247px;
    width: 100%;
    height: 219px;
    bottom: 17%;
    left: 9%;
}
.top-content-block5 {
    position: absolute;
    max-width: 199px;
    width: 100%;
    height: 155px;
    bottom: 8%;
    right: 35%;
}
.top-content-block6 {
    position: absolute;
    max-width: 324px;
    width: 100%;
    height: 308px;
    right: 0;
    bottom: 15%;
}
.top-content-center {
    position: absolute;
    margin: 0;
    top: 40%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.top-content-center-item {
    width: 859px;
    display: flex;
    justify-content: space-between;
}
.top-content-center-item p {
    text-align: right;
}
.top-content-center-item img {
    position: absolute;
    margin: 0;
    top: 39%;
    left: 58%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 181px;
    height: 128px;
    object-fit: cover;
}
.top-content-center-item p:nth-child(1) {
    width: 418px;
    text-align: right;
}
.top-content-center-item p:nth-child(3) {
    width: 288px;
    text-align: left;
}
.top-content-center-btn {
    position:absolute;
    margin: 0;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.top-content-center-btn a{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

/* ....... block brand ........ */


.product-brands-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 210px;
    margin-bottom: 96px;
}

.product-brands {
    position: relative;
    background-color: white;
    border-radius: 10px;
    max-width: 640px;
    width: 100%;
    height: 100%;
}
.product-brands-item {
    max-width:640px;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.product-brands-item-img {
    max-width:112px;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 23px;
    padding-bottom: 50px;
}
.product-brands-item-btn {
    padding-top: 45px;
    max-width: 208px;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-end;
    padding-right: 28px;
}
.brands-item-btn-top {
    width: 100%;
    height: 48px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.brands-item-btn-bottom {
    padding-bottom: 45px;
}


/* ........ promotional slider ...... */
.promotional-wrapp {
    height: 424px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(191, 187, 168, 0.4);
    border-bottom: 1px solid rgba(191, 187, 168, 0.4);
    padding-top: 54px;
    padding-bottom: 54px;
    border-radius: 32px;
}

.promotional-item {
    height: 424px;
}

.promotional-item.left {
    max-width: 200px;
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
}

.promotional-item.right  {
    max-width: 970px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.swiper-container.promotional-swiper {
    overflow: hidden;
  }
.promotional-slider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 310px!important;
    height: 100%;
    border-radius:20px;
    background-color: #F5F3E8;
}
.promotional-slider-content p {
    width: 68%;
    height: 60px;
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 38px;
}
.promotional-slider-content span {
    margin-bottom: 8px;
    margin-left: 16px;
}
.promotional-slider-content img {
    display: flex;
    width: 294px;
    height: 250px;
    border-radius:20px;
   margin: 0 auto;
}

.promotional-slider-content a {
    margin-top: 8px;
    margin-bottom: 22px;
    margin-left: 16px;
}

.promotional-title {
    text-align: right;
}
.slider-btn-wrapp {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.promotional-button-next {
    margin-right: 12px;
}


/* .......... advantages ..........*/
.advantages{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    height: 848px;
    border-radius: 32px;
    border-top: 1px solid rgba(191, 187, 168, 0.4);
    border-bottom:1px solid rgba(191, 187, 168, 0.4);
}
.advantages-title {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.advantages-content-block {
    position: relative;
    width: 100%;
    height: 100%;
    background:url('/wp-content/themes/balace/img/advantages-bg.png');
    background-repeat:no-repeat;
    background-size: 505px 543px;
    background-position:top center;
}
.advantages-content-item {
    max-width: 290px;
    width: 100%;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
} 
.advantages-content-item img {
    margin-bottom: 16px;
}
.advantages-content-item:nth-child(1) {
    top:0px
}
.advantages-content-item:nth-child(2) {
    bottom: 210px;
    left: 110px;
}
.advantages-content-item:nth-child(3) {
    right: 0;
    top: 55px;
    max-width: 308px;
    width: 100%;
}
.advantages-content-item:nth-child(4) {
    right: 50px;
    bottom: 115px;
    max-width: 371px;
    width: 100%;
}



/* ............  about block ..........*/
.about-product-wrapp {
    width: 100%;
    background: rgba(34, 29, 23, 1);
    border-radius: 40px;
    height: 653px;
}
.about-product-content {
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.about-product-item {
    width: 49%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.about-product-item.deskription a{
    margin-top: 24px;
    margin-bottom: 135px;
}
.about-product-deskription-title h3{
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.about-product-deskription-title p{
    color:rgba(255, 255, 255, 1);
}
.below_item_wrapp {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.below_item {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    width: 30%;
    color: rgba(255, 255, 255, 1);
}
.below_item img {
    margin-bottom: 16px;
}


/* ......... blog ......... */

/* Общие стили для секции и обёртки блога */


.blog-wrapp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 902px;
}

.blog-wrapp-item{
    width: 49%;
    border-radius: 40px;
}

.blog-wrapp-item.left-item .thumbnail {
    max-width: 640px;
    object-fit: cover;
    width: 100%;
    height: 670px;
}

.blog-wrapp-item.left-item a .title {
    margin-top: 24px;
    width: 75%;
}

.blog-wrapp-item.left-item .description {
    margin-top: 8px;
    width: 75%;
}

.blog-wrapp-item.left-item .publish-date {
    margin-top: 32px;
}


 .blog-wrapp-item.right-item {
    width: 49%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.blog-wrapp-item.right-item .blog-item-title {
    width: 100%;
}
.blog-wrapp-item.right-item .blog-item-title h3 {
    margin-bottom: 32px;
}
.blog-news-wrapp {
    margin-top: 203px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.blog-news-wrapp a{
    width: 49%;

}
.blog-news-item {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.blog-news-item .title {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 1);
}
.blog-news-item .thumbnail {
    width: 310px;
    height: 310px;
    display: flex;
    object-fit: cover;
}
.blog-news-item .publish-date {
    color: rgba(0, 0, 0, 1);
}

/* ......... FAQ ........ */
.faq-item-content span {
    display: none;
}

.faq-wrapp {
    width: 100%;
    border-top: 1px solid rgba(191, 187, 168, 0.4);
    border-radius: 32px;
}
.faq-content {
    padding-top: 32px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.faq-item.left {
    max-width: 310px;
    height: 168px;
}
.faq-item.left h3 {
    text-align: right;
}
.faq-item.right {
    max-width: 860px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.faq-item-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius:92px;
    margin-bottom: 20px;
    cursor: pointer;
}
.faq-item-content:after {
    position: absolute;
    right: 24px;
    top: 24px;
        content:'';
        display:flex;
        max-width:52px;
        width:100%;
        height:52px;
        background:url('/wp-content/themes/balace/img/icon/plus.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
.faq-item-content.faq-item-active:after {
    transform: rotate(45deg);
}
.faq-item-content p {
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.faq-item-content span {
    padding-left: 35px;
    padding-bottom: 62px;
}