.promotion-wrapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.promotion-item {
    font-family: "Manrope", sans-serif;
    max-width: 640px;
    width: 100%;
    height: 424px;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
}

.promotion-column-left {
    padding-top: 24px;
    padding-left: 24px;
    max-width: 298px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.promotion-column-right {
    max-width: 278px;
    width: 100%;
    display: flex;
    height: 100%;
    margin-right: 16px;
}

.promotion-column-right img {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.promotion-item-title {
    font-size: 34px;
    font-weight: 500;
    line-height: 41.99px;
    letter-spacing: 0.01em;
    text-align: left;
    padding-bottom: 14px;
}

.promotion-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    text-align: left;
}

.promotion-dates {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24px;
}

.promotion-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: rgba(0, 0, 0, 1);
    height: 48px;
    max-width: 119px;
    width: 100%;
}

.promotion-link {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(255, 234, 123, 1);
}

.promotion-dates p {
    font-size: 24px;
    font-weight: 500;
    line-height: 32.02px;
    letter-spacing: 0.02em;
    text-align: center;
}


.single-promotion-wrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
}

.single-promotion-item-left {
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.single-promotion-item-right {
    max-width: 734px;
    width: 100%;
    display: flex;
    height: 428px;
    margin-top: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
}

.single-promotion-item-right img {
    width: 100%;
    display: flex;
    border-radius: 20px;
    object-fit: cover;
}

.single-promotion-title h1 {
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.02px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 14px;
}

.single-promotion-content-bottom {
margin-top: 54px;
  display: flex;
  justify-content: flex-end;
}
.single-promotion-content-text {
    width: 50%;
}
.single-promotion-content-text p{
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 30px;
}

.single-promotion-dates {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32.02px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 40px;
}


@media(max-width:1340px) {
    .promotion-column-left {
        margin-right: 10px;
    }

    .promotion-dates {
        width: 100%;
    }
    .single-promotion-content-text {
        width: 100%;
    }
}

@media(max-width:1080px) {
    .promotion-wrapp {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .promotion-item {
        max-width: 100%;
    }
}
@media(max-width:768px){
    .single-promotion-wrapp {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .single-promotion-item-right {
        width: 96%;
        margin: 0 auto;
        margin-bottom: 12px;

    }
}

@media(max-width:640px) {
    .promotion-item {
        flex-direction: column-reverse;
        height: auto;
    }

    .promotion-title-content {
        margin-bottom: 16px;
    }

    .promotion-column-right {
        max-width: 100%;
        height: 400px;
    }

    .promotion-column-right img {
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 0;
    }

    .promotion-column-left {
        max-width: 94%;
        padding: 16px 15px 0px 15px;
    }

    .promotion-dates {
        margin-bottom: 16px;
    }

    .promotion-dates p {
        width: 25%;
    }
 
}

@media(max-width:480px) {
    .promotion-item-title {
        font-size: 20px;
        line-height: 30px;
    }
    .single-promotion-title h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .single-promotion-content p {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
        letter-spacing: 0.04em;
        text-align: left;
    }
    .single-promotion-dates {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .promotion-subtitle {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
        letter-spacing: 0.04em;
        text-align: left;
    }
    .single-promotion-item-left {
        padding-top: 20px;
        padding-left: 20px;
    }

    .single-promotion-dates p{
        font-size: 16px;
        line-height: 24px;
    }
    .promotion-dates p {
        font-size: 16px;
        line-height: 24px;
    }

    .promotion-column-right {
        height: 235px;
    }
    .single-promotion-item-right {
        height: 235px;
    }

    .promotion-dates {
        width: 98%;
    }
}

@media(max-width:350px) {
    .promotion-dates {
        width: 96%;
    }
}



